In [1]:
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import numpy as np
import json
%matplotlib inline

In [3]:
train_set_data=pd.read_csv('dogs_n_cats.csv')
test_set_data=pd.read_json('dataset_209691_15.txt')

In [8]:
train_set_data

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [12]:
X=train_set_data.drop(['Вид'], axis=1)
y=train_set_data['Вид']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [14]:
clf=tree.DecisionTreeClassifier(criterion = 'entropy', max_depth=4)

In [15]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [16]:
result = clf.predict(test_set_data)

pd.Series(result)[result == 'собачка'].count()

50